#root {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

/* Any absolutely positioned elements in the game 
   are positioned relative to the game container */
.game-container {
    position: relative;
}
